.destFrame{
  display: none; 
  margin-top: 4rem; 
  column-gap: 2rem; 
}
.embla {
  overflow: hidden;

}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.arrow{
  display: flex;
  gap: 9rem;
  align-items: center;
  justify-content: space-around;
}

@media (min-width: 640px) { 
  .destFrame{
    display: flex;
  }
  .caraousel{
    display: none;
    margin-top: 24px;
  }
}