.searchDestBtn{
  margin: 0 1vw;
  background-color: #163247;
  color: #B4DCFA;
  border-radius: 5px;
  font-weight: 600;
  font-size: 2vh;
  padding: 0.7vh 1.7vw;
  transition: 0.5s;
  height: 2.5rem;
  width: 200px;
}
.searchDestBtn:hover{
  background-color: #B4DCFA;
  color: #163247;
}