.travelCar{
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 50px;

}

.travelCar .embla {  
  overflow: hidden;
}
.travelCar .embla__container {  
  display: flex;
}
.travelCar .embla__slide {  
  flex: 0 0 33%;  
  margin: 0 -25px;
  min-width: 0;
}

.travelCar .arrow{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8rem;
  gap: 2.25rem;
}
