@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #ecf7fd;
    overflow-x: hidden;
}
.main .bg{
    position: absolute;
    top: 0;
    z-index: -10;
    height: 100vh;
    width: 100vw;
    background: url('../assets/images/homepagebg.png') no-repeat center center;
    background-size: cover;
}

.home{
    margin: 8.54vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin: 10px 50px;*/
    margin: 1.25vh 3vw;
}
.logo{
    font-style: normal;
    /*font-family: Storybook;*/
    font-weight: 700;
    font-size: 2vh;
    line-height: 2.75vh;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #163247;
    font-family: sans-serif;  /* Replace the text element with the logo*/


}
.navlink{
    /* FONT FAMILY GILROY NOT FOUND; NEED TO BE IMPORTED AND USED HERE */
    font-family: sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 1.1vw;
    line-height: 175.7%;
    margin-left: 120px; /*harcoded the alignment for now, will need to be fixed after the actual logo is placed*/
    color: #163247;
    justify-items: center;
    align-items: center;
}


.navlink ul{
    display: flex;
    column-gap: 6vw;
}

.login{
    /* FONT FAMILY GILROY NOT FOUND; NEED TO BE IMPORTED AND USED HERE */
    background-color: white;
    border: 3px solid #163247;
    border-radius: 4px;
    padding: 4px 25px;
    /* padding: 0.4vh 1.5vw; */
    transition: 0.5s;
}
.login:hover{
    background-color: #163247;
    color:#B4DCFA;
}

.head_text{
    /* FONT FAMILY STORYBOOK NOT FOUND; NEED TO BE IMPORTED AND USED HERE */
    font-family: 'Storybook';
    font-style: normal;
    line-height: 163.15%;
    text-align: center;
    color: #163247;
}

.sub_text{
    /* FONT FAMILY GILROY NOT FOUND; NEED TO BE IMPORTED AND USED HERE */
    font-style: normal;
    text-align: center;
    color: #163247;
    margin: -30px 0 0 0;
}

.desc{
    /* FONT FAMILY GILROY NOT FOUND; NEED TO BE IMPORTED AND USED HERE */
    font-style: normal;
    margin: 2vh 0;
    text-align: center;
    color: #163247;
}
.search{
    display: flex;
    margin: 10vh 0 0 0;
}
.searchdest input{
    background-color: white;
    border: 2px solid #163247;
    color: #163247;
    border-radius: 5px;
    padding: 0.8vh 1.2vw;
    font-weight: 700;
    outline: none;
    /* FONT FAMILY GILROY NOT FOUND; NEED TO BE IMPORTED AND USED HERE */
} 
/*.searchdest span{
    position: absolute;
    left: 435px;
    top: 687px;
    color: gray;
    font-weight: 700;
    pointer-events: none;
    transition: 0.5s;
    /* FONT FAMILY GILROY NOT FOUND; NEED TO BE IMPORTED AND USED HERE */

/*.searchdest input:valid ~ span,
.searchdest input:focus ~span{
    color: white;
    transform: translateX(-5px) translateY(-20px);
    font-size: 10px;
    background-color: #163247;
    padding: 3px 10px;
    border-radius: 8px;
}*/

.searchdestbtn{
    margin: 0 1vw;
    background-color: #163247;
    color: #B4DCFA;
    border-radius: 5px;
    font-weight: 600;
    font-size: 2vh;
    padding: 0.7vh 1.7vw;
    transition: 0.5s;
    height: 2.5rem;
}
.searchdestbtn:hover{
    background-color: #B4DCFA;
    color: #163247;
}

.subheadtext{
    font-family: 'Storybook';
    font-style: normal;
    font-weight: 800;
    font-size: 8vh;
    line-height: 75px;
    text-align: center;
    color: #163247;
    margin-top: 6vh;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.deal_card{
    background-color: #B4DCFA;
height: 300px;
width: fit-content;
padding: 25px 30px;
border-radius: 15px;
box-shadow: 3px 3px 5px rgba(0,0,0,0.3);

}
/* .card_img{
background-color: #B4DCFA;
height: 300px;
width: fit-content;
padding: 25px 30px;
border-radius: 15px;
box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
} */
/* .card_img h1{
font-style: normal;
font-weight: 700;
font-size: 16px;
margin: 10px 0;
letter-spacing: 0.25em;
color: #163247;
text-align: center;
} */

.card_caption{
margin: 20px 0 0 20px;
max-width: 370px;

}
.card_caption h2{
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 15px;
letter-spacing: 0.25em;
color: #163247;
}
.card_caption p{
margin: 1.4vh 0 2.8vh;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
color: #163247;
}
.embla {
    overflow: hidden;

}
.embla__container {
    display: flex;
}
.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
}
.travelCar{
    margin: 60px 0 60px 250px;
    /* margin-left: 250px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    width: 100vw;;
    /* height: ; */
}
.trvelExpCar{
    display: flex;
    align-items: center;
    justify-items: center;
}
.expcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: #B4DCFA;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    width: 280px;
    padding: 20px;
    border-radius: 10px;
}

.travelRate{
    display: flex;
    
}

.travelRate .rating{
    margin: 0 4px
}

.travelDesc{
    margin: 20px 10px ;
    font-style: normal;
    font-weight: 4300;
    font-size: 16px;
    line-height: 163.15%;
    color: #163247;
}

.traveller{
    display: flex;  
    width: 100%;
    
}
.travellerProf{
    margin: 0 10px;
}

.travellerDes{
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 163.15%;
    color: #163247;
    padding: 0 5px;
}

.travelCar .embla {  
    overflow: hidden;
}
.travelCar .embla__container {  
    display: flex;
}
.travelCar .embla__slide {  
    flex: 0 0 33%;  
    margin: 0 -25px;
    min-width: 0;
}

.travelCar .arrow{
    display: flex;
    justify-content: end;
    row-gap: 20px;
    column-gap: 50px;
    margin: 20px 70px;
    align-items: center;
}
.card_frame{
    display: flex;
    column-gap: 50px;
    margin: 50px 0;
}

.card_img{
    background-color: #B4DCFA;
    height: 300px;
    padding: 25px 30px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}
.card_img img{
    width: 350px;
}
.card_img h1{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin: 10px 0;
    letter-spacing: 0.25em;
    color: #163247;
    text-align: center;
}
.card_caption{
    margin: 20px 0 0 5px;
    max-width: 370px;
}
.card_caption h2{
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.25em;
    color: #163247;
}
.card_caption p{
    margin: 1.4vh 0 2.8vh;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    color: #163247;
}
